@import "tailwindcss";
@plugin "daisyui";

@variant dark (&:is(.dark *));

@layer base {
  html {
    min-height: 100%;
    background-color: var(--color-surface);
    color: var(--color-primary);
  }

  body {
    @apply min-h-full;
  }


}
